<div class="list">
  <div class="list__header">
    <div class="list__row">
      <div class="list__cell">Name</div>

      <div class="list__cell">
        <div>Latitude</div>
        <div>Longitude</div>
      </div>

      <div class="list__cell">Action</div>
    </div>
  </div>

  <div class="list__body">
    <label
      class="list__row"
      [class.list__row_checked]="(selected | async) == item.id"
      *ngFor="let item of locations | async; index as i"
      [for]="'location' + i"
    >
      <div class="list__cell">{{item.name}}</div>

      <div class="list__cell">
        <div>{{item.latLng[0]}}</div>
        <div>{{item.latLng[1]}}</div>
      </div>
      <div class="list__cell">
        <app-button [text]="buttonText" [danger]="true" (isClicked)="deleteLocation(i)"></app-button>
      </div>
      <input 
        type="radio"
        name="locations"
        [id]="'location' + i"
        [value]="i"
        [checked]="(selected | async) == item.id"
        (change) = "pickLocation(i)"
      >
    </label>
  </div>    
</div>
