<div class="controller">
  <div class="controller__row">

    <div class="controller__field">
      <div class="controller__fieldContent">
        <label for="filter">Name Filter</label>
        <input type="text" name="filter" [(ngModel)]="filter">
      </div>    
    </div>

    <div class="controller__field"></div>
    <div class="controller__field">
      <div class="controller__fieldContent">
        <app-button [text]="filterButtonText" (isClicked)="applyFilter()"></app-button>
      </div>    
    </div>
  </div>

  <div class="controller__row">

    <div class="controller__field">
      <div class="controller__fieldContent">
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="locationName">
      </div>    
    </div>

    <div class="controller__field">
     <div class="controller__fieldContent">
        <label for="latitude">Latitude</label>
        <input type="number" name="latitude" [(ngModel)]="latitude">
      </div>
      
      <div class="controller__fieldContent">
        <label for="longitude">Longitude</label>
        <input type="number" name="longitude" [(ngModel)]="longitude">
      </div>
    </div>

    <div class="controller__field">
      <div class="controller__fieldContent">
        <app-button [text]="addButtonText" (isClicked)="addLocation()"></app-button>
      </div>
    </div>
  </div>  
</div>